@font-face {
    font-family: "Norse Bold";
    src: url(fonts/norse-bold.otf);
}


body {
    margin: 0;
    min-height: 100vh;
    background-color: #f9fafb;
}

.container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}
.side-bar {
    display: flex;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    height: 100vh;
    width: 37vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.title h1 {
    color: white;
    font-family: "Norse Bold";
}

.title {
    height: 120px;
    width: 100%;
    position: relative;
    top: 175px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    padding-left: 3vw;
    padding-bottom: 35px;
    background-color: #f9fafb;
    font-size: 20px;
    font-weight: bold;
    width: 50vw;
    margin-top: 120px;
    font-family: sans-serif;
}

.form {
    background-color: white;
    width: calc(100vw - 37vw);
    padding-left: 3vw;

}

.form h1 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

form > div {
    display: flex;
    gap: 70px;
}

form > div > div {
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 25px;
    width: 20vw;
    margin-bottom: 20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #596d48;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}